.label_home {
  background-image: linear-gradient(
    to bottom,
    crimson,
    lightsalmon,
    gold,
    seagreen,
    steelblue,
    rgb(154, 45, 231),
    violet
  );
  width: 310px;
  height: 170px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bolder;
  font-size: large;
}

.avt_home {
  background-image: linear-gradient(to top, lightgray, black);
  width: 30px;
  height: 30px;
  border-radius: 25px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 5px; */
}

.list_home {
  columns: 5 auto;
  display: inline;
  justify-content: space-around;
  padding-top: 25px;
  width: 90%;
  padding-left: 40px;
}

.block_home {
  padding-bottom: 35px;
  padding-right: 30px;
}
@media (max-width: 1789px) {
  .list_home {
    columns: 4 auto;
    padding: 50px;
  }
}
@media (max-width: 1535px) {
  .label_home {
    width: 250px;
  }
}

@media (max-width: 1280px) {
  .list_home {
    columns: 3 auto;
  }
}

@media (max-width: 980px) {
  .list_home {
    columns: 2 auto;
  }
}

@media (max-width: 705px) {
  .list_home {
    columns: 1 auto;
  }
}
