.container {
  background-color: white;
}
.logo {
  background-image: url(../../assets/logoYoutube.png);
  height: 40px;
  width: 106px;
  background-size: cover;
  margin-left: 20px;
}
.text_drawer {
  font-weight: 500;
  font-size: medium;
  color: black;
  padding-top: 10px;
}
.text_menu {
  font-weight: 500;
}
.button_drawer {
  display: none;
}
.small_screen {
  display: none;
  z-index: 10;
  position: absolute;
}
@media (max-width: 1313px) {
  .small_screen {
    display: unset;
  }
  .button_drawer {
    display: unset;
  }
  .button_menu {
    display: none;
  }
  .text_menu {
    display: none;
  }
}

@media (max-width: 457px) {
  .menu {
    display: none;
  }
}
